

        <main>
          <div class="contenedores">
            <div class="container pn-4 pt-4 pb-4">
                <div class="container text-center text-black bg-white py-4">
                    <div class="container">
                        <h2 >BIENVENIDO</h2><hr>
                        <h3> Bienvenido  al inicio de Welnnes GT, proyecto realizado por alumnos de kinal</h3>
                        <div class="container py-4">
                            <img src="assets/img/WhatsApp_Image_2022-03-25_at_7.25.42_PM-removebg-preview.png" class="d-block w-100"  >
                        </div>
                        <h3>Tu salud es lo mas importante</h3>
                    </div>
                </div>
            </div>
          </div>

          <div class="contenedores">
            <div class="container pn-4 pt-4 pb-4">
                <div class="container text-center text-black bg-white py-4">
                    <div class="container">
                        <h2 >Registrate y agenda tu Cita</h2><hr>
                        <h3> Servicio de citas con los doctores de tu preferencia</h3>
                        <div class="container py-4">
                            <img src="assets/img/descarga (1).png" class="d-block w-100"  >
                        </div>
                        <h3></h3>
                    </div>
                </div>
            </div>
          </div>
        </main>

