<!-- Modal Ver Doctores -->

<br>
<div class="container ">
  <div class="container text-center text-Whyte bg-white py-4">
      <div class="container">
                  <h1 >
                     CITAS DE ESTE DOCTOR</h1>
<br>

<div class = "container">
  <div class ="row">
    <div class="col-12 col-md-4" *ngFor="let cita of citasModelGet">
      <div class="card text-white bg-secondary mb-3">
        <div class="card-body">
          <h4 class="card-title">{{ cita.nombre }}</h4>
          <h4 class="card-title">{{ cita.apellido }}</h4>

          <img src="../../../assets/img/citamedica.png" class="card-img-top" alt="citas-logo">

          <br>
          <br>

          <p class="card-text">ID: {{cita._id}}</p>
          <p class="card-text">Número turno: {{cita.numeroTurno}}</p>

          <p class="card-text">Peso: {{cita.peso}}</p>
          <p class="card-text">Enfermedades: {{cita.enfermedades}}</p>
          <p class="card-text">Edad: {{cita.edad}}</p>
          <p class="card-text">Estatura: {{cita.estatura}}</p>
          <p class="card-text">Direccion: {{cita.direccion}}</p>
          <p class="card-text">Pais: {{cita.pais}}</p>
          <p class="card-text">Fecha: {{cita.fecha}}</p>
          <p class="card-text">Hora: {{cita.hora}}</p>
          <p class="card-text">Telefono: {{cita.telefono}}</p>


          <button type="button" class="btn btn-warning" data-bs-toggle="offcanvas" data-bs-target="#editarTurno"
          aria-controls="offcanvasExample" (click)="getCitasId(cita._id)">Asignar Turno</button>

        </div>

    </div>
  </div>
</div>

<br>
<br>

<!-- Modal Editar Citas-->
<div class="offcanvas offcanvas-start" tabindex="-1" id="editarTurno" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Asignar Turno</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form>
      <div class ="mb-3">

          <label for="numeroTurno" class="form-label"> Número de turno </label>
          <input type="number" autocomplete ="off" class="form-control" id="numeroTurno" name="numeroTurno" #numeroTurno="ngModel"
          [(ngModel)]="citasModelGetId.numeroTurno">
          
          <br>


          <button class="btn btn-success" data-bs-dismiss="offcanvas" (click)="editarTurno()">Asignar Turno</button>



      </div>
    </form>
  </div>
</div>
